.containerTitle {
display: flex;
justify-content: center;
margin-top: 10px;
}

.title {
    display: flex;
    justify-content: center;
    margin: 3%;    
    font-size: 300% ;
}



.container-button-login{
    display: flex;
    justify-content: center;
    align-items: center;

}

form{
    width: 100%;

}


