
@import '../../SASS/Mixin.module.scss';

.containerSub{
    @include subContainer(min-width, 0px, max-width, 599px, 90vw );
    @include subContainer(min-width, 600px, max-width, 15000px, 550px, 1%);
    min-height: 40vh;    
    max-height: 70vh;

    &.containerSub::-webkit-scrollbar{
        width: 0px;
        height: 0px;
        background: #efefef;
      }
      
    &.containerSub::-webkit-scrollbar-thumb{
        background:#00000040;
      }
}

.containerButton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerTask{
    display: flex;
    flex-direction: column;
   align-items: center;
   width: 100%;
}

.containerEmpty{
    display: flex;
    justify-content: center;
    margin-top: 8vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.626);
}

.titleContainer{
    @include containerTitle( min-width, 551px, max-width, 15000px, 0 0 5px 0, 100%);
    @include containerTitle($minMedia : min-width, $minExtent : 200px, $maxMedia : max-width, $maxExtent : 550px, $margin : 0px 4px, $width : 100%);
}

