
.containerTitle{
    display: flex;
    justify-content: center;
}

.title{
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.containerTask {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


