
@import '../../SASS/Mixin.module.scss';

.input{
    @include inputMain();
    @include inputMain( min-width,  0px,  max-width,  550px, 7px);
}

.insideInput{
    @include inputInside();
    @include inputInside( min-width,  0px,  max-width,  550px, 7px);
}



.footInput{
    @include inputFoot();
    @include inputFoot( min-width,  0px,  max-width,  550px, 15px);
}

.alertInput{
    background: rgb(255 0 15 / 45%);
    color: white;
}

.alertInputNone{
    background: white;
}
